// vim:ft=javascript
{
    env: {
        development: {
            sourceMaps: 'inline',
            plugins: ['source-map-support'],
        }
    },

    presets: [
        ['@babel/preset-env', {
            // only include polyfills if they're used
            useBuiltIns: 'usage',

            // set this to true to see the applied transforms and bundled polyfills
            debug: false,

            // https://jamie.build/last-2-versions
            targets: { browsers: [ '>0.25%', 'not ie 11', 'not op_mini all' ] },
        }]
    ],

    plugins: ['@babel/plugin-transform-runtime', 'lodash']
}
